body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: 'Markazi', 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right , #7bc7dd , #62a1c7 , #528ab4 );
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weatherApp {
    margin: 20px;
}

.city {
    width: 250px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Markazi';
    font-size: x-large;
    border: none;
}

button{
    padding: 15px;
    border-radius: 15px;
    font-family: 'Markazi';
    font-weight: 900;
    background-color: #95d6ea;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
}

button:hover {
    background-color: #95d6eaa2;
}

.weather-wrapper {
    background: linear-gradient(to bottom right,  #74feff, #9cfeff , #bbffff , #d3ffff , #eeffff );
    margin-top: 50px;
    width: 350px;
    height: 150px;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 2px 2px 5px #95d6ea;
    align-items: center;
}